<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <title>
        "SK8"
    </title>
</head>

<body>

    <div>

       <div>

               <a><button type="button" class="btn btn-primary col-md-2">SK8T</button></a>
               <a><button type="button" class="btn btn-primary col-md-2">SKATEBOARDERS</button></a>
               <a><button type="button" class="btn btn-primary col-md-2">BOARD DESIGN</button></a>
               <a><button type="button" class="btn btn-primary col-md-2">CONTACT US</button></a>

       </div>

   </div>
   <header class="hero">

       <div class="jumbotron jumbotron-fluid col-m-12 " bg="static/images/top-image.png">
           <!--<img class="background-pic" src="static/images/top-image.png" height="100%" width="100%">-->
           <div class="container skull-container">
               <img class="skull" src="static/images/peralta-logo.png" width="200px"  height="125px">

           </div>
       </div>
   </header>

   <div class="three-dots"></div>

   <div class="col-md-12 three-boxes">
        <div class="row">


         <div class="col-md-4 three first">
             <div class="inside">
                <h2 class="head-3">Tony Hawk Foundation Raises Big Money At Celeb Fundraiser</h2>
                 <h4 class="date">March 5 2012</h4>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto beatae fugiat voluptas aut tempore
                    esse. Labore, aliquam debitis! Corrupti, mollitia neque. Veniam, quae animi culpa vero dolor itaque?
                </p>
                 <button type="button" class="btn btn-outline-danger">READ MORE</button>
             </div>
        </div>

          <div class="col-md-4 three">
              <div class="inside">
                  <h2 class="head-3">Rodney Mullin: Pop an Ollie and Innovte (Ted Talk)</h2>
                  <h4 class="date">Oct 7 2014</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto beatae fugiat voluptas aut tempore
                    esse. Labore, aliquam debitis! Corrupti, mollitia neque. Veniam, quae animi culpa vero dolor itaque?
                  </p>
                   <button type="button" class="btn btn-outline-danger">READ MORE</button>
              </div>

        </div>

        <div class="col-md-4 three">
            <div class="inside">
                <h2 class="head-3">Ray Barbie Talks: Ban This !</h2>
                <h4 class="date">October 10 2016</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto beatae fugiat voluptas aut tempore
                    esse. Labore, aliquam debitis! Corrupti, mollitia neque. Veniam, quae animi culpa vero dolor itaque?
                    jhsdbfl lsdfb sdlhfbhwefy lhbdsbsd dsn  djchbsdc  lkdbhsdbc ljhdbclhbsdhcbclh
                </p>
                <button type="button" class="btn btn-outline-danger">READ MORE</button>
            </div>
          </div>

    </div



   </div>

    </div>


    <div class="container">
    <div>
        <nav>
            <h6 class="SUBSCRIBE">SUBSCRIBE</h6>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-rss"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
        </nav>
    </div>

    <div class="container">

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <p>this is a random lin of text</p>
    </div>

    <div class="col-md-4 col-sm-6">
      <p class="bg-red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sequi, accusantium vitae facere vel saepe dolor asperiores dolore quibusdam reiciendis deserunt deleniti id eveniet? In, labore. Dolorem accusantium voluptatum quam!</p>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-lg-4">
          <p>Lorem ipsum dolor, sit jfbjbjgkbf gjg jdgjkdgbjkdgbjjg bjtgbjtegbjtgbjtgj gjt gjg jtjg bjtgtgt tbgjbtjebgjtb gt gtgejt gurberuebgur u gtug uegueogokdnjksfnjfdks bgjdksbgdjskbg djskbg jdsbtgjbjbjskdf jndgj ngjktnjkgnjkgnj knjkndfgj kngdjk sngjksdng jsdktngj gjtd gj gbtg tjgbbtbtg btbtg tbg btbamet consectetur adipisicing elit. Architecto beatae fugiat voluptas aut tempore esse. Labore, aliquam debitis! Corrupti, mollitia neque. Veniam, quae animi culpa vero dolor itaque? Minus, iure.</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto beatae fugiat voluptas aut tempore esse. Labore, aliquam debitis! Corrupti, mollitia neque. Veniam, quae animi culpa vero dolor itaque? Minus, iure.</p>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>
    <div class="decks">
        <img src="static/images/sk8-1.png" alt="green board">
        <img src="static/images/sk8-2.png" alt="blue board">
        <img src="static/images/sk8-3.png" alt="panda board">
        <img src="static/images/sk8-4.png" alt="monkey board">
        <img src="static/images/sk8-5.png" alt="message board">
        <img src="static/images/sk8-6.png" alt="rainbow board">
        <img src="static/images/sk8-7.png" alt="hung over board">
        <img src="static/images/sk8-8.png" alt="red board">
        <img src="static/images/sk8-9.png" alt="yellow board">
        <img src="static/images/sk8-10.png"alt="alien board">


   </div>

       <div class="bottom">
           <div class="col-md-12 contact">
              <div class="col-md-6">
                   <h2>Contact us for more information</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur distinctio,
                      harum minima molestias placeat praesentium sit vitae.</p>

              </div>
           </div>

       <div>
           <div class="col-md-6">
               <input class="col-md-12 name" type="text" name="Name">
               <input class="col-md-12 email" type="text" name="Email">
               <input class="col-md-12 message" type="text" name="Message">

           </div>
       </div>
   </div>

</body>

</html>